* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

:root {
  --orange: orangered;
  --black: rgb(31, 30, 30);
  --dark-gray: rgb(46, 46, 46);
  --gray: rgb(58, 58, 58);
  --light-gray: gray;
}

body {
  background-color: var(--dark-gray);

  height: 100vh;
  overflow-x: hidden;
}

/* make element invisible */
.invisible {
  opacity: 0;
}

/* display none */
.no-display {
  display: none;
}

/* color classes */
.orange {
  color: var(--orange);
}
.gray {
  background-color: var(--gray);
}
.light-gray {
  color: var(--light-gray);
}
