@import "./main.css";

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* add note btn */
.add-note-btn {
  color: var(--orange);
  font-size: 3rem;

  position: fixed;
  align-self: flex-end;
  bottom: 20px;
  right: 20px;
}

.add-note-btn:hover {
  cursor: pointer;
}

/* overlay */
.overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  background-color: var(--black);
  opacity: 0.6;
}

/* add note form */
.form-container {
  width: 50vw;
  top: 129px;
  position: absolute;

  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  background-color: var(--gray);
  color: var(--light-gray);
}

.form-container form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  width: 100%;
}

.form-container p {
  text-align: center;
  font-size: 2rem;
  color: var(--orange);

  margin-top: 15px;
  width: 100%;
  max-width: 1000px;
}

.form-container input,
textarea {
  border: 1px solid var(--light-gray);
  background-color: var(--gray);
  color: var(--light-gray);

  border-radius: 10px;
  padding: 5px;
  margin-top: 15px;
  width: 70%;
  max-width: 750px;

  outline: none;
}

.form-container textarea {
  resize: none;
  display: block;
}

.form-container input[type="submit"] {
  background-color: var(--orange);
  color: var(--black);

  width: 30%;
  margin-bottom: 15px;
}

.form-container input[type="submit"]:hover {
  cursor: pointer;
}

/* move up class for form-container */
.move-up {
  margin-top: -700px;
}

/* note card styling */
.note-card {
  height: auto;
  width: 50vw;
  padding: 15px 15px 50px 15px;
  margin: 30px 0;

  border: 2px solid var(--light-gray);
  border-radius: 10px;

  background-color: var(--black);
  color: var(--light-gray);
}
.note-card:hover {
  cursor: pointer;
}

.trash-icon {
  position: relative;
  /* left: calc(50vw - 45px); */
  left: calc(100% - 15px);
  bottom: -35px;
}

.note-name {
  font-size: 1.3em;
  font-weight: 600;
  padding-bottom: 5px;
}

.note-date {
  font-size: 0.9em;
}

/* note container */
.note-container {
  min-height: calc(100vh - 100px);
  /* display: flex;
  justify-content: center; */
}

/* arrow-down */
.arrow-down {
  padding-top: 8px;
}

.note {
  padding: 5px 10px;
  margin-top: 5px;
  margin-bottom: 30px;

  font-size: 1.1em;
  font-weight: 600;

  word-break: break-all;
  white-space: normal;
}

/* no notes */
.no-notes {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  margin-top: 130px;
  color: var(--light-gray);
  font-size: 2rem;
}

/* media query */
@media only screen and (max-width: 800px) {
  .note-card {
    width: 90vw;
  }

  /* popup styling */
  .form-container {
    width: 90vw;
  }
}

@media only screen and (max-width: 550px) {
  /* .note-container {
    padding: 0px 20px;
  } */

  /* note styling */
  .note-card {
    padding: 10px 10px 50px 10px;
    width: calc(90vw - 10px);
  }
  .note-name {
    font-size: 1.1em;
  }
  .note {
    font-size: 0.9em;
  }
  .note-date {
    font-size: 0.8em;
  }

  .trash-icon {
    font-size: 0.8em;
  }
  .add-note-btn {
    font-size: 2em;
  }
}
